@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-SemiBolditalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PP Neue Montreal - Free for Personal Use v2.6/OTF/PPNeueMontreal-Book.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
